@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
/*
font-family: 'Cookie', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Open Sans';
*/
/**{
     outline: 1px solid rgba(255, 0, 0, 0.2);
}*/
.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn {
     color: #fff;
}
.btn-text {
     color: #fff;
}
.btn-block a{
     color: #fff;
}
.nav-link a{
     color: #fff;
     text-decoration: none;
     font-size: 20px;
}
.navbar {
     background-color: #93BA9D;
     color: #fff;
     padding-top: 7px;
}
.navbar-inverse {
     width: 100%;
     background-color: #93BA9D;
}
.navbar-nav {
     color: #fff;
     font-size: 25px;
     padding-left: 35px;
}
.glyphicon, .logo {
     color: #fff;
}
.nav-link {
     color: #fff;
}
.logo {
     background-image: url('../logo.svg');
     height: 80px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
hr {
     border-color: #eee;
     border-style: solid none;
     border-width: 1px 0;
     margin: 18px 0;
}
.container-fluid {
     width: 90%;
}
.col-md-7 {
   width: 58.33333333%;
 }
 .row {
      padding: 10px;
}
.heading {
     font-size: 18px;
     font-weight: 500;
}
.footer-title {
     font-size: 20px;
     font-family: 'Patrick Hand', cursive;
     text-align: center;
}
.footer {
     background-color: #93ba9d;
     color: #fff;
     align-content: center;
     display: flex;
     flex-direction: column;
     margin-top: 20px;
}
.address {
     text-align: center;
}
.heading {
     font-family: "Patrick Hand",cursive;
     font-size: 60px;
     color: #93ba9d;
}
.primary-text {
     font-size: 125%;
      line-height: 3rem;
      font-family: Raleway;
      color: #4c6252;
}
.email {
     background-color: rgb(33,33,33);
     color: #fff;
     padding-bottom: 20px;
}
.btn-block {
     width: 50%;
     margin: 0 auto;
}
small {
     margin-right: 20px;
}
.headerImg {
     background-image: url('../styles/img/ocean-bg.jpg');
     height: 400px;
     background-attachment: fixed;
     border-radius: 10px;
}
ul {
     list-style-type: none;
}
.contact-form {
     width: 80%;
     margin: 0 auto;
}
